[DEFAULT]
# https://github.com/reddit/reddit/wiki/API#rules
user_agent: python:org.scymrian-meritocracy.MLP-flair:v0.1.2 (by /u/YOURUSERNAME)
client_id: ALONGCODE
client_secret: ANEVENLONGERCODE
username: YOURMODACCT
password: TOPSECRET
